<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登录页面</title>

    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/jquery-3.5.0.min.js"></script>
    <script src="/js/community.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body id="loginBody">

<div class="materialContainer">

    <form action="/dologin" method="post">
        <div class="box">
            <div class="title">登录</div>
            <div class="input">
                <label for="loginName">用户名</label>
                <input type="text" name="loginName" id="loginName">
                <span class="spin"></span>
            </div>
            <div class="input">
                <label for="loginPass">密码</label>
                <input type="password" name="loginPass" id="loginPass">
                <span class="spin"></span>
            </div>
            <div class="button login">
                <button>
                    <span><input type="submit" value="登录" style="border: none"></span>
                    <i class="fa fa-check"></i>
                </button>
            </div>
            <div class="pass-forgot">
                <img src="/img/github.png" class="png-style" alt="" href="https://github.com/login/oauth/authorize?client_id=2c24107797a6a41e27d5&redirect_uri=http://localhost:8080/callback&scope=user&state=1">
                <img src="/img/qq.png" class="png-style" alt="">
                <img src="/img/wechat.png" class="png-style" alt="">
            </div>
        </div>
    </form>


    <form action="/doregist" method="post">
	    <div class="overbox">
            <div class="material-button alt-2">
                <span class="shape"></span>
            </div>
            <div class="title">注册</div>
            <div class="input">
                <label for="regName">用户名</label>
                <input type="text" name="regName" id="regName">
                <span class="spin"></span>
            </div>
            <div class="input">
                <label for="regPass">密码</label>
                <input type="password" name="regPass" id="regPass">
                <span class="spin"></span>
            </div>

<!--            <div class="input">-->
<!--                <label for="email">邮箱</label>-->
<!--                <input type="text" name="email" id="email">-->
<!--                <span class="spin"></span>-->
<!--            </div>-->
            <div class="input">
                <div class=" input-type">
                   <input type="radio" style="width:20px" name="type" value="1" checked>
                    <span class="input-type-span">个人用户</span>
                </div>
                <div class=" input-type">
                    <input type="radio" style="width:20px" name="type" value="2" >
                    <span class="input-type-span">企业用户</span>
                </div>
            </div>

            <div class="button">
                <button>
                    <span><input type="submit" value="注册用户" style="border: none"></span>
                </button>
            </div>

	    </div>
    </form>
</div>
<div>
    <span class="alert alert-danger alert-class" th:text="${error}" th:if="${error != null}"></span>
    <span class="alert alert-success alert-class" th:text="${msg}" th:if="${msg != null}"></span>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/index.js"></script>
</body>
</html>