<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="nav">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">慈善招聘社区</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" action="/search" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" name="search" placeholder="搜索信息">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav nav-pills nav-style">
                    <li role="presentation"><a href="/">招聘信息</a></li>
                    <li role="presentation"><a href="/charity">慈善活动</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--               发布-->
                    <li th:if="${session.tb_user != null}">
                        <a href="/publish">发布信息</a>
                    </li>

<!--                    github-->
<!--                    <a href="https://github.com/login/oauth/authorize?client_id=2c24107797a6a41e27d5&redirect_uri=http://localhost:8080/callback&scope=user&state=1"></a>-->

<!--                       数据库登录-->
                    <li class="dropdown" th:if="${session.tb_user != null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <!--                        用 th:text="${session.user.getName() 用户的名字来替代  我-->
                            <span th:text="${session.tb_user.username}"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile/articles">我的文章</a></li>
                            <li><a href="/userInfo">个人资料</a></li>
                            <li><a href="/logout">退出登录</a></li>
                        </ul>
                    </li>

                    <li th:if="${session.tb_user == null}"><a th:href="@{'/login'}">登录</a></li>

                </ul>
            </div>
        </div>
    </nav>

</div>

</body>


</html>